/* Formação */

[data-anima] {
  opacity: 0;
  transition: 0.3s;
}

[data-anima="left"] {
  transform: translate3d(-250px, 0, 0);
}
[data-anima="right"] {
  transform: translate3d(250px, 0, 0);
}

[data-anima="right-hand"] {
  transform: translate3d(250px, 0, 0);
}
[data-anima="top"] {
  transform: translate3d(0, -250px, 0);
}
[data-anima="bottom"] {
  transform: translate3d(0, 250px, 0);
}

[data-anima].animate {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
