.to-top.inativo {
  opacity: 0;
}
.to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 100;

  box-shadow: rgba(255, 255, 255, 0.35) 0px 0px 25px;

}

.to-top a {
  padding: 0.5rem;
  cursor: pointer;
  background: var(--branco);
  border-radius: 4px;
  cursor: pointer;

}

.to-top a img {
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
